body {
    background-color: #FCFBFE;
}

/* ROOT: <App /> */
.root {
    height: 100vh;            /* Set height to 100% of screen height */
    display: flex;
    justify-content: center;  /* Horizontally Centered */
    align-items: center;      /* Vertically Centered */
    flex-direction: column;
}

/* TASK LIST: <TaskList /> */
.task-list {
    background-color: #FFFFFF;
    padding: 20px;
    height: 400px;
    width: 400px;

    border-style: solid;
    border-color: #F0EFF2;
    border-width: 1px;
    border-radius: 8px;
}

/* TASK ITEM: <TaskItem /> */
.task-item {
    padding: 8px 13px;
    margin-bottom: 10px;

    border: 1px solid #F0F0F0;
    border-radius: 8px;
}

.task-item__name {
    color: #39454B;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
    line-height: 24px;
    letter-spacing: 0.05em;
}

/* ADD TASK: <AddTask /> */
.add-task {
    background-color: #FFFFFF;
    padding: 20px;

    border: 1px solid #F0EFF2;
    border-radius: 8px;

    width: 400px;
    margin-bottom: 12px;
}