body {
    background-color: #FCFBFE;
}

/* ROOT: <App /> */
.root {
    height: 100vh;            /* Set height to 100% of screen height */
    display: flex;
    justify-content: center;  /* Horizontally Centered */
    align-items: center;      /* Vertically Centered */
}