body {
    background-color: #FCFBFE;
}

/* ROOT: <App /> */
.root {
    height: 100vh;            /* Set height to 100% of screen height */
    display: flex;
    justify-content: center;  /* Horizontally Centered */
    align-items: center;      /* Vertically Centered */
}

/* TASK LIST: <TaskList /> */
.task-list {
    background-color: #FFFFFF;
    padding: 20px;
    height: 400px;

    border-style: solid;
    border-color: #F0EFF2;
    border-width: 1px;
    border-radius: 8px;
}